.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.brown { background-color: brown; }
.pink { background-color: pink; }
.purple { background-color: purple; }
.hidden { background-color: cornflowerblue; }